@layer tailwind-base,
antd;
@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;
body {
  font-family: "Poppins", sans-serif;
}

.max-w-1000px {
  max-width: 1100px;
}

@font-face {
  font-family: "Khmer OS Battambang";
  src: url("/fonts/KhmerOSbattambang-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Khmer OS Battambang";
  src: url("/fonts/KhmerOSbattambang-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Hexagon Css at aboutpage */

.hexagon {
  width: 120px;
  height: 140px;
  background-color: #ffffff;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.3s ease-in-out;
}

.hexagon:hover {
  transform: scale(1.1);
}

.hexagon-info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  z-index: 100;
}

.hexagon:hover .hexagon-info {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
