@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@layer tailwind-base,
antd;
@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Khmer OS Battambang";
  src: url("/fonts/KhmerOSbattambang-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Khmer OS Battambang";
  src: url("/fonts/KhmerOSbattambang-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Hexagon Css at aboutpage */

.hexagon {
  width: 100px;
  height: 115px;
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.hexagon:hover {
  transform: scale(1.1);
}

.hexagon-info {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  z-index: 100;
}

.hexagon:hover .hexagon-info {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.slice-in-left {
  animation: sliceInLeft 0.5s ease-out forwards;
}

@keyframes sliceInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slice-in-from-right {
  animation: sliceInFromRight 0.6s ease-out forwards;
}

@keyframes sliceInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
